:root {
  --brand-color: #212121;
  --brand2-color: #2196f3;
  --brand3-color: #ffffff;
  --brand4-color: #757575;
  --brand5-color: #2f303a;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 1600px;
  font-family: 'Roboto', sans-serif;
  color: var(--brand-color);
  list-style-type: none;
}
li {
  list-style-type: none;
}
section{
  padding-top: 94px;
  padding-bottom: 94px;
}
.logo {
    /* width: 145px;
    height: 31px;
    left: 215px;
    top: 24px; */
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--brand2-color);
  text-decoration: none;
}
.logo2 {
position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 2218px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--brand2-color);
  text-decoration: none;
}
.links{
  display: flex;
}
.link1 {
  position: absolute;
  width: 49px;
  height: 16px;
  left: 453px;
  top: 32px; 
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  text-decoration: none;
}
.link2 {
  position: absolute;
  width: 65px;
  height: 16px;
  left: 552px;
  top: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  text-decoration: none;
}
.link3 {
  position: absolute;
  width: 59px;
  height: 16px;
  left: 679px;
  top: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  text-decoration: none;
}
.link1:hover,
.link2:hover,
.link3:hover,
.contact:hover {
  color: var(--brand2-color);
}
.buttons:hover,
.button1:hover {
  background-color: var(--brand2-color);
  color: var(--brand3-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.link1.active,
.link2.active,
.link3.active,
.button1:active,
.contact:active {
  color: var(--brand2-color);
}
.buttons:focus {
  background-color: var(--brand2-color);
  color: var(--brand3-color);
}
.contact1{
  position: absolute;
  width: 135px;
  height: 16px;
  left: 980px;
  top: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--brand4-color);
  list-style: none;
  text-decoration: none;
}
.contact2 {
  position: absolute;
  width: 118px;
  height: 16px;
  left: 1120px;
  top: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--brand4-color);
  list-style: none;
  text-decoration: none;
}
.contact4 {
position: absolute;
  width: 231px;
  height: 21px;
  left: 215px;
  top: 2306px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.contact5 {
position: absolute;
  width: 231px;
  height: 21px;
  left: 215px;
  top: 2329px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.title1 {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--brand3-color);
}
.services{
  justify-content: center;
  margin-left: 20px;
}
.button1 {
  width: 261px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background: var(--brand2-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--brand3-color);
}

.buttons {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  cursor: pointer;
  margin: 8px;
  padding: 6px 6px;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--brand4-color);
  margin-left: 1px;
}

.title2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 2.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  margin-left: 40px;
}

.title3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}
.bgcolor{
  background-color: #F5F4FA;
}
.subtitles {
  display: flex;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}

.carge {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand4-color);
}

.piepage {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--brand3-color);
}
.container {
  width: 1200px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.team-container,
.buttons-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.proyects-container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px;
  justify-content: center;
}
.proyects-card {
  width: 370px;
  height: 404px;
  background: var(--brand3-color);
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  margin-right: 10px;
  margin-bottom: 10px;
}
.top{
  border-top: 1px solid #ececec;
  width: 1600px;
  background: var(--brand5-color);
  text-align: center;
}
.top2 {
  border-top: 1px solid #ececec;
  width: 1600px;
  background: var(--brand3-color);
  text-align: center;
}
.top1 {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2158px;
  background: var(--brand5-color);
}
.borde{
  width: 1600px;
    height: 0px;
    left: 0px;
    top: 80px;
  border-bottom: 1px solid #ECECEC;
}
.address1{
  position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
    top: 2258px;
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
  
    letter-spacing: 0.03em;
  
    color: var(--brand3-color)
  }
.address2 {
position: absolute;
  width: 231px;
  height: 21px;
  left: 215px;
  top: 1733px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--brand3-color);
}
.contact6{
  position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
    top: 1782px;
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
  
    letter-spacing: 0.03em;
  
    color: rgba(255, 255, 255, 0.6);
}
.contact7{
  position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
    top: 1812px;
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
  
    letter-spacing: 0.03em;
  
    color: rgba(255, 255, 255, 0.6);
}
.logo3{
  margin-top: 20px;
  position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 1688px;
  
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
  text-decoration: none;
    letter-spacing: 0.03em;
    color: var(--brand2-color);
}