:root {
  --brand-color: #212121;
  --brand2-color: #2196f3;
  --brand3-color: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--brand-color);
}

.study {
  font-family: 'Raleway', sans-serif;
  color: var(--brand2-color);
}

.link1 {
  position: absolute;
  width: 49px;
  height: 16px;
  left: 453px;
  top: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}
.link2 {
  position: absolute;
  width: 65px;
  height: 16px;
  left: 552px;
  top: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}
.link3 {
  position: absolute;
  width: 59px;
  height: 16px;
  left: 679px;
  top: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}
.link1:hover,
.link2:hover,
.link3:hover,
.contact:hover {
  color: var(--brand2-color);
}
.buttons:hover,
.button1:hover {
  background-color: var(--brand2-color);
  color: var(--brand3-color);
}
.link1:active,
.link2:active,
.link3:active,
.button1:active,
.contact:active {
  color: var(--brand2-color);
}
.buttons:focus {
  background-color: var(--brand2-color);
  color: var(--brand3-color);
}
.contact {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.title1 {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  background: #2f303a;
}

.button1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background: var(--brand2-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--brand3-color);
}

.buttons {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  cursor: pointer;
  background: #f5f4fa;
}

.text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #757575;
}

.title2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 2.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}

.title3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}

.subtitles {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color);
}

.carge {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.piepage {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #2f303a;
}
